#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('/static/resources/spinner.gif');
    background-color:#d9ddd9;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}